@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  default: true;
  --color-primary: #1E3A8A; /* Navy Blue */
  --color-secondary: #38BDF8; /* Sky Blue */
};
@custom-variant dark (&:where(.dark, .dark *));
